@import "../global.scss";

.login_container {
    .login {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 300px;
        margin: auto;

        h2 {
            margin: auto;
        }

        label {
            font-size: 20px;
            display: block;
            width: 100%;
            text-align: center;
        }

        input {
            width: 100%;
        }

        .register_section {
            text-align: center;

            a {
                text-transform: lowercase;
            }
        }
    }
}
