@import "../global.scss";

.profile {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;

    * {
        background-color: $white;
    }

    button {
        background-color: $orange;
    }
}
